@import "http://webfonts.justanotherfoundry.com/Facit/";

@font-face{
	font-family: Facit-Bold;
	src: url(clear/font/Facit/Facit-Bold.otf);
	font-family: Facit-BoldItalic;
	src: url(clear/font/Facit/Facit-BoldItalic.otf);
	font-family: Facit-Extrabold;
	src: url(clear/font/Facit/Facit-Extrabold.otf);
	font-family: Facit-ExtraboldItalic;
	src: url(clear/font/Facit/Facit-ExtraboldItalic.otf);
	font-family: Facit-Extralight;
	src: url(clear/font/Facit/Facit-Extralight.otf);
	font-family: Facit-ExtralightItalic;
	src: url(clear/font/Facit/Facit-ExtralightItalic.otf);
	font-family: Facit-Light;
	src: url(clear/font/Facit/Facit-Light.otf);
	font-family: Facit-LightItalic;
	src: url(clear/font/Facit/Facit-LightItalic.otf);
	font-family: Facit;
	src: url(clear/font/Facit/Facit-Regular.otf);
	font-family: Facit-RegularItalic;
	src: url(clear/font/Facit/Facit-RegularItalic.otf);
	font-family: Facit-Semibold;
	src: url(clear/font/Facit/Facit-Semibold.otf);
	font-family: Facit-SemiboldItalic;
	src: url(clear/font/Facit/Facit-SemiboldItalic.otf);
}

.clear-page{
	margin:0 auto;
	font-family:Facit;
}
.clear{
	clear:both;
}
.header-wrapper{
	background: #5eaf44; /* Old browsers */
	background: -moz-linear-gradient(top,  #5eaf44 0%, #4c8e37 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5eaf44), color-stop(100%,#4c8e37)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5eaf44 0%,#4c8e37 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5eaf44 0%,#4c8e37 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5eaf44 0%,#4c8e37 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5eaf44 0%,#4c8e37 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5eaf44', endColorstr='#4c8e37',GradientType=0 ); /* IE6-9 */
}
.header{
	background: rgba(255, 255, 255, 0.6);
	border-opacity:0.9;
	border-bottom:6px solid #eee;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;
}
.header .tiles{
	display:table;
	margin:0 auto;
}
.header .tiles li{
	padding:10px 32px;
	display:table-cell;
	font-weight:bold;
	text-align:center;
	cursor:pointer;
	transition:color .2s ease-out, background 1s ease-in;
}
.header .tiles li:hover{
	color:#fff;
}
.top-section{
	width:1200px;
	margin:0 auto;
	padding-top:80px;
}
.top-section .left{
	float:left;
}
.top-section .left .monitor{
	z-index:1;
}
.top-section .left .phone{
	margin-left: -90px;
	margin-top: 210px;
	z-index: 3;
	position: relative;
}
.top-section .left .circle{
	margin-top: -148px;
	margin-left: -95px;
	z-index: 2;
	font-family: Facit-Extralight;
}
.top-section .left .circle-text{
	margin-top: -370px;
	margin-left: 528px;
	padding-bottom: 250px;
	text-align: center;
	font-family: Facit-RegularItalic;
	font-size: 16pt;
	line-height: 0.8em;
}
.top-section .left .circle-text h1{
	font-family: Facit-Bold;
}
.top-section .left .circle-text #timer{

}
.top-section .left .circle-text #timer .kkc-sec{
	display:none;
}
.top-section .left .circle-text #timer .kkc-sec-text{
	display:none;
}
.top-section .left .circle-text #timer .kkc-hours-text{
	margin-right:7px;
}
.top-section .right{
	float:right;
}
.top-section .right .top-right{
	color:#fff;
	width:375px;
}
.top-section .right .top-right .box{
	border-bottom:1px solid rgba(255, 255, 255, .2);
}
.top-section .right .top-right .box h1{
	font-size:43pt;
	font-style:italic;
	font-family:Facit;
	line-height: 25px;
}
.top-section .right .top-right .box h3{
	font-size:20pt;
	font-style:italic;
	font-family: Facit-LightItalic;
	padding-bottom:15px;
}
.top-section .right .top-right .under{
	padding-top:20px;
}
.top-section .right .top-right .under h4{
	font-size:15pt;
	font-family: Facit-Bold;
	letter-spacing:1px;
}
.top-section .right .top-right .under h5{
	font-size:12pt;
	font-family:Facit-LightItalic;
}
.top-section .right .top-right .under input{
	height: 60px;
	border-radius: 0;
	width: 280px;
	border: 4px solid #ccc;
	box-shadow: none;
	padding-top: 6px;
	padding-left:20px;
	color: #363636;
	font-size:15pt;
	font-family:Facit-LightItalic;

}
.top-section .right .top-right .under a{
	display:inline-block;
	background-color: #164d46;
	color: #363636;
	border: 0;
	font-size: 15pt;
	text-transform: none;
	text-decoration: none;
	-webkit-box-shadow: 0px 6px 0px #0a2c28;
	-moz-box-shadow: 0px 6px 0px #0a2c28;
	box-shadow: 0px 6px 0px #0a2c28;
	color: #fff;
	/*border-bottom: 3px solid #0a2c28;*/
	letter-spacing: 1px;
	cursor: pointer;
	line-height: 100%;
	padding: 21px 40px 16px 40px;
	margin-top:12px;
	font-family: Facit-Bold;
}
.above {
	font-family: Facit-Bold;
	text-transform: uppercase;
	text-align: center;
	font-size: 30pt;
	color: #164d46;
	padding: 30px 0px;
	border-bottom: solid 1px #e1e1e1;
}
.middle .top,
.middle .bottom{
	width:1100px;
	margin:0 auto;
}
.middle .top{
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 45px;
}
.middle .top .left{
	float: left;
}
.middle .top .right{
	float: right;
}
.middle .top .left .box h1, 
.middle .top .right .box h1{
	font-family: Facit-ExtralightItalic;
	font-size: 32pt;
	color: #4c8e37;
	padding: 25px 0px 15px 0px;
}

.middle .top .left .box p, 
.middle .top .right .box p{
	font-family: Facit-Light;
	font-size: 16pt;
	color: #898989;
	line-height:1.2em;
}

.middle .bottom .left .item .text-right .green-bold,
.middle .bottom .right .item .text-right .green-bold{
	font-family: Facit-Bold;
	color: #4c8e37;
}

.middle .bottom{
	border-bottom:1px solid #e1e1e1;
	margin-bottom:80px;
}

.middle .bottom .left{
	float: left;
}

.middle .bottom .right{
	float: right;
}

.middle .bottom .left .item,
.middle .bottom .right .item{
	border-bottom:1px solid #e1e1e1;
	padding:20px 0;
}

.middle .bottom .left .item:last-child,
.middle .bottom .right .item:last-child{
	border-bottom:0;
}

.middle .bottom .left .item .icon-left,
.middle .bottom .right .item .icon-left{
	float: left;
	width:40px;
}

.middle .bottom .left .item .icon-left i,
.middle .bottom .right .item .icon-left i{
	margin-top:25px;
}

.middle .bottom .left .item .text-right,
.middle .bottom .right .item .text-right{
	float: left;
	text-align: left;
	padding-left: 40px;
}

.middle .bottom .left .item .text-right h1,
.middle .bottom .right .item .text-right h1{
	font-family: Facit-Extralight;
	color: #363636;
}

.middle .bottom .left .item .icon-left,
.middle .bottom .right .item .icon-left{
	color: #4c8e37;
}

.call-now-section{
	background: #5eaf44; /* Old browsers */
	background: -moz-linear-gradient(top,  #5eaf44 0%, #4c8e37 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#5eaf44), color-stop(100%,#4c8e37)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #5eaf44 0%,#4c8e37 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #5eaf44 0%,#4c8e37 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #5eaf44 0%,#4c8e37 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #5eaf44 0%,#4c8e37 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5eaf44', endColorstr='#4c8e37',GradientType=0 ); /* IE6-9 */
	padding:40px 0;
}

.call-now-section .wrapper{
	width: 1100px;
	margin: 0 auto;
}

.call-now-section .wrapper .left{
	float:left;
	width:700px;
	padding: 0 85px 57px 0;
	border-right:1px solid rgba(255, 255, 255, 0.2);
	line-height:33px;
}

.call-now-section .wrapper .right{
	float:right;
	width:300px;
}

.call-now-section .left h1{
	font-family: Facit;
	font-style: italic;
	color: #f1f1f1;
	font-size: 32pt;
}

.call-now-section .left h3{
	font-family: Facit-LightItalic;
	font-size: 18pt;
	color: #f1f1f1;
	font-style: italic;
	line-height: .4em;
	margin-bottom:18px;
}

.call-now-section .left p{
	font-family: Facit-Light;
	font-size: 14pt;
	color: #f1f1f1;
	padding-top: 15px;
}

.call-now-section .right h3{
	font-size: 15pt;
	font-family: Facit-Bold;
	letter-spacing: 1px;
	color: #f1f1f1;
	line-height: .4em;
}

.call-now-section .right .or,
.call-now-section .right .instructions{
	font-size: 12pt;
	font-family: Facit-LightItalic;
	color: #f1f1f1;
}

.call-now-section .right .form{
	margin-top:15px;
}

.call-now-section .right .form input{
	height: 45px;
	border-radius: 0;
	width: 280px;
	border: 4px solid #ccc;
	box-shadow: none;
	padding-top: 6px;
	padding-left:20px;
	color: #363636;
	font-size:13pt;
	font-family:Facit-LightItalic;
	margin-bottom: 10px;
}

.call-now-section .right .form a{
	display:inline-block;
	background-color: #164d46;
	color: #363636;
	border: 0;
	font-size: 15pt;
	text-transform: none;
	text-decoration: none;
	-webkit-box-shadow: 0px 6px 0px #0a2c28;
	-moz-box-shadow: 0px 6px 0px #0a2c28;
	box-shadow: 0px 6px 0px #0a2c28;
	color: #fff;
	letter-spacing: 1px;
	cursor: pointer;
	line-height: 100%;
	padding: 21px 40px 16px 40px;
	margin-top:12px;
	font-family: Facit-Bold;
}

.get-started .top{
	padding-bottom:30px;
}

.get-started .top h1{
	font-family: Facit-ExtralightItalic;
	font-size: 32pt;
	color: #4c8e37;
	padding: 25px 0px 15px 0px;
	text-align: center;
}

.get-started .top p{
	font-family: Facit-Light;
	font-size: 16pt;
	color: #898989;
	line-height: 1.2em;
	text-align: center;
}

.get-started .top .green-italic{
	font-style: italic;
	color: #4c8e37;
}

.get-started .middle .col .step .step-text p,
.get-started .middle .col .col-title{
	font-family: Facit-Bold;
	font-size: 14pt;
	color:#164d46;
}

.get-started .middle{
	display:table;
	width:1100px;
	margin:0 auto;
	text-align:center;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 45px;
}

.get-started .middle .col{
	width:300px;
	display:table-cell;
}

.get-started .middle .col .step .step-text{
	margin-top: -102px;
	padding-bottom: 30px;
}

.get-started .middle .col .step .step-text .num{
	font-size: 32pt;
	margin-top:-20px;
}

.get-started .middle .col-content p{
	font-family: Facit-ExtraLight;
	font-size: 16pt;
	color: #898989;
	line-height: 1.2em;
	width:290px;
	margin:0 auto;
	padding-top: 15px;
	line-height: 27px;
}

.get-started .bottom{
	padding-bottom:50px;
}

.get-started .bottom h1{
	font-family: Facit-ExtralightItalic;
	font-size: 32pt;
	color: #4c8e37;
	padding: 25px 0px 15px 0px;
	text-align: center;
}

.get-started .bottom p{
	font-family: Facit-ExtraLight;
	font-size: 16pt;
	color: #898989;
	line-height: 1.2em;
	width: 580px;
	margin: 0 auto;
	text-align: center;
	line-height: 30px;
}

.footer{
	background:#5eaf44;
	padding:30px 0;
}

.footer p{
	font-family: Facit;
	font-style: italic;
	color: #f1f1f1;
	font-size: 32pt;
	text-align: center;
	padding-top:10px;
}